<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
<nav style="position: fixed; top: 0; width: 100%; background-color: transparent; padding: 15px 30px; z-index: 1000;">

    <style>
    nav a:hover {
      text-decoration: underline !important;
    }

    .right {
      font-family: 'Quicksand', sans-serif;
    }

    .middle {
      font-family: 'Quicksand', sans-serif;
    }

    </style>

    <div style="display: flex; justify-content: space-between; align-items: center;">

    <div style="flex: 1; text-align: left;">
      <a href="/" style="color: black; font-size: 20px; font-family: 'Montserrat'; font-weight: bold; text-decoration: none;">
        Singapore IG Connect
      </a>
    </div>

    <div class="middle" style="flex: 1; text-align: center;">
      <a href="/" style="color:#FE3E4D; margin: 0 15px; text-decoration: none; font-weight: normal; font-size:15px;">Home</a>
      <a href="/aboutus" style="color: #FE3E4D; margin: 0 15px; text-decoration: none; font-weight: normal; font-size:15px;">About Us</a>
      <a href="/contactus" style="color: #FE3E4D; margin: 0 15px; text-decoration: none; font-weight: normal; font-size:15px;">Contact Us</a>
    </div>

    <div class="right" style="flex: 1; text-align: right;">
        <a href="/register" style="color: #907EC4; margin: 0 15px; font-size: 15px; text-decoration: none;">
        Register
        </a>

        <a href="/login" style="color: #907EC4; font-size: 15px; text-decoration: none;">
        Login
        </a>
    </div>

  </div>
</nav>

