<h1>New Interest Group</h1>
<form action="/interestgroups" method="POST">
  <input type="text" name="name" placeholder="Name" required><br>
  <input type="text" name="category" placeholder="Category" required><br>
  <textarea name="description" placeholder="Description"></textarea><br>
  <textarea name="meeting_schedule" placeholder="Meeting Schedule"></textarea><br>
  <button type="submit">Add IG</button>
</form>
