<h1>Edit Interest Group</h1>
<form action="/igs/<%= ig.id %>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= ig.name %>" required><br>
  <input type="text" name="category" value="<%= ig.category %>" required><br>
  <textarea name="description"><%= ig.description %></textarea><br>
  <button type="submit">Update IG</button>
</form>
